<font size="3|">Project 4</font>

In [186]:
#Import all the packages I need
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime, timedelta

In [187]:
#Increase the displays so I can view all the columns I want.  I did rows also for the heck of it
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [188]:
#Imported the data
cust = pd.read_excel('Customer_Segmentation.xlsx',sheetname= 'Sheet1')
#cust = pd.read_excel('Customer_Segmentation.xlsx',sheetname= 'sheet_name')

cust.head()

,[Customer_ID],[Registration_Datetime_Local],[Geography_Name],[Location_Name],[Rental_Revenue_Last_30_Days],[Rental_Revenue_Last_365_Days],[Rental_Revenue_Last_91_Days],[Rentals_Last_30_Days],[Rentals_Last_365_Days],[Rentals_Last_91_Days],[Rentals_Total]
0,1520068,2014-11-23,Calgary,Calgary,0.0,0.0,0.0,5,43,13,0
1,1852168,2015-08-20,Seattle,Seattle,0.0,0.0,0.0,0,4,4,0
2,2321264,2016-05-19,DC Region,Washington DC,0.0,0.0,0.0,179,1122,542,0
3,3034218,2017-06-15,New York City,New York City,0.0,0.0,0.0,6,50,6,0
4,3037791,2017-06-16,Denver,Denver,0.0,0.0,0.0,27,458,94,0

In [189]:
#I picked only the columns I am interested in but wanted to keep the original dataframe in case i wanted to go back to it
cust2 = cust[['[Customer_ID]',
              '[Location_Name]',
              '[Geography_Name]', 
              '[Registration_Datetime_Local]',
              '[Rentals_Total]',
              '[Rentals_Last_30_Days]',
              '[Rentals_Last_91_Days]',
              '[Rentals_Last_365_Days]',
              '[Rental_Revenue_Last_30_Days]',
              '[Rental_Revenue_Last_91_Days]',
              '[Rental_Revenue_Last_365_Days]']]

In [190]:
cust2 = cust2[cust2['[Rentals_Total]'] != 0] 
cust2 = cust2[cust2['[Rental_Revenue_Last_365_Days]'] > 0] #REMOVE THIS PART OF THE CODE ONCE YOU REMOVE SERVICE ACCOUNTS
cust2.drop(columns = ['[Rentals_Total]','[Location_Name]'],inplace=True)

In [191]:
cust2.rename(columns = {
    '[Customer_ID]': 'Customer_ID',
    '[Geography_Name]': 'Location',
    '[Registration_Datetime_Local]': 'Registration_Datetime_Local',
    '[Rentals_Last_30_Days]': 'Rentals_Last_30_Days',
    '[Rentals_Last_91_Days]': 'Rentals_Last_91_Days',
    '[Rentals_Last_365_Days]' : 'Rentals_Last_365_Days',
    '[Rental_Revenue_Last_30_Days]' : 'Rental_Revenue_Last_30_Days',
    '[Rental_Revenue_Last_91_Days]' : 'Rental_Revenue_Last_91_Days',
    '[Rental_Revenue_Last_365_Days]' : 'Rental_Revenue_Last_365_Days'},inplace=True)

In [192]:
cust2['RENTALS_LAST_30_DAYS'] = cust2['Rentals_Last_30_Days']
cust2['RENTALS_LAST_31_TO_91_DAYS'] = cust2['Rentals_Last_91_Days'] - cust2['Rentals_Last_30_Days']
cust2['RENTALS_LAST_92_TO_365_DAYS'] = cust2['Rentals_Last_365_Days'] - cust2['Rentals_Last_91_Days']

cust2['REVENUE_LAST_30_DAYS'] = cust2['Rental_Revenue_Last_30_Days']
cust2['REVENUE_LAST_31_TO_91_DAYS'] = cust2['Rental_Revenue_Last_91_Days'] - cust2['Rental_Revenue_Last_30_Days']
cust2['REVENUE_LAST_92_TO_365_DAYS'] = cust2['Rental_Revenue_Last_365_Days'] - cust2['Rental_Revenue_Last_91_Days']

In [193]:
cust2.drop(columns = ['Rentals_Last_30_Days','Rentals_Last_91_Days','Rentals_Last_365_Days'],inplace=True)
cust2.drop(columns = ['Rental_Revenue_Last_30_Days','Rental_Revenue_Last_91_Days','Rental_Revenue_Last_365_Days'],inplace=True)

In [194]:
cust2['z_RENTALS_LAST_30_DAYS'] = stats.zscore(cust2['RENTALS_LAST_30_DAYS'])
cust2['z_RENTALS_LAST_31_TO_91_DAYS'] = stats.zscore(cust2['RENTALS_LAST_31_TO_91_DAYS'])
cust2['z_RENTALS_LAST_92_TO_365_DAYS'] = stats.zscore(cust2['RENTALS_LAST_92_TO_365_DAYS'])
cust2['z_REVENUE_LAST_30_DAYS'] = stats.zscore(cust2['REVENUE_LAST_30_DAYS'])
cust2['z_REVENUE_LAST_31_TO_91_DAYS'] = stats.zscore(cust2['REVENUE_LAST_31_TO_91_DAYS'])
cust2['z_REVENUE_LAST_92_TO_365_DAYS'] = stats.zscore(cust2['REVENUE_LAST_92_TO_365_DAYS'])

In [195]:
#cust2['sum_zscores'] = cust2.iloc[:,-7:-1].sum(axis=1)
cust2['sum_zscores'] = cust2.z_RENTALS_LAST_30_DAYS + \
cust2.z_RENTALS_LAST_31_TO_91_DAYS + \
cust2.z_RENTALS_LAST_92_TO_365_DAYS + \
cust2.z_REVENUE_LAST_30_DAYS + \
cust2.z_REVENUE_LAST_31_TO_91_DAYS + \
cust2.z_REVENUE_LAST_92_TO_365_DAYS

In [196]:
cust2.drop(columns = ['z_RENTALS_LAST_30_DAYS','z_RENTALS_LAST_31_TO_91_DAYS','z_RENTALS_LAST_92_TO_365_DAYS'],inplace=True)
cust2.drop(columns = ['z_REVENUE_LAST_30_DAYS','z_REVENUE_LAST_31_TO_91_DAYS','z_REVENUE_LAST_92_TO_365_DAYS'],inplace=True)

In [197]:
cust2.sort_values(by=['sum_zscores'],ascending = False, inplace=True)
cust2['Member_Ranking'] = cust2['sum_zscores'].rank(ascending = False)

In [198]:
def group_members(row):
    if row.Member_Ranking <= 5000:
        return ('A+')
    elif row.Member_Ranking <= 25000:
        return ('A')
    elif row.Member_Ranking <= 50000:
        return ('B')
    else:
        return ('C')

cust2['Member_Segmentation'] = cust2.apply(lambda row: group_members(row),axis = 1)

In [199]:
cust2['Registration_Datetime_Local'] = pd.to_datetime(cust2['Registration_Datetime_Local'])

In [200]:
cust2['Today'] = datetime.today()
cust2['Today'] = pd.to_datetime(cust2['Today'])

In [201]:
cust2['Days_Since_Registration'] = (cust2['Today'] - cust2['Registration_Datetime_Local']).dt.days

In [202]:
def member_reg_date(row):
    if row.Days_Since_Registration <= 60:
        return ('Yes')
    else:
        return ('No')

cust2['New_Member_Registered_Past_60_Days'] = cust2.apply(lambda row: member_reg_date(row),axis = 1)

In [203]:
cust2 = cust2[['Customer_ID','Location','Registration_Datetime_Local','New_Member_Registered_Past_60_Days','RENTALS_LAST_30_DAYS','RENTALS_LAST_31_TO_91_DAYS','RENTALS_LAST_92_TO_365_DAYS','REVENUE_LAST_30_DAYS','REVENUE_LAST_31_TO_91_DAYS','REVENUE_LAST_92_TO_365_DAYS','Member_Ranking','Member_Segmentation']]

In [204]:
cust2.to_excel("Customer_Segmentation_Output.xlsx",sheet_name='Sheet1',index= False)