In [61]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime, timedelta
%matplotlib inline

In [4]:
accept_df = pd.read_csv('C:/Users/SINGEJO/Desktop/Lending_Club_Data/accepted_2007_to_2018Q3.csv.gz', compression='gzip')
#reject_df = pd.read_csv('C:/Users/SINGEJO/Desktop/Lending_Club_Data/rejected_2007_to_2018Q3.csv.gz', compression='gzip')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
print(accept_df.info(verbose=True, null_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2132287 entries, 0 to 2132286
Data columns (total 151 columns):
id                                            2132287 non-null object
member_id                                     0 non-null float64
loan_amnt                                     2132256 non-null float64
funded_amnt                                   2132256 non-null float64
funded_amnt_inv                               2132256 non-null float64
term                                          2132256 non-null object
int_rate                                      2132256 non-null float64
installment                                   2132256 non-null float64
grade                                         2132256 non-null object
sub_grade                                     2132256 non-null object
emp_title                                     1986234 non-null object
emp_length                                    1997053 non-null object
home_ownership                                2132256 non-null object
annual_inc                                    2132252 non-null float64
verification_status                           2132256 non-null object
issue_d                                       2132256 non-null object
loan_status                                   2132256 non-null object
pymnt_plan                                    2132256 non-null object
url                                           2132256 non-null object
desc                                          126067 non-null object
purpose                                       2132256 non-null object
title                                         2108931 non-null object
zip_code                                      2132255 non-null object
addr_state                                    2132256 non-null object
dti                                           2130782 non-null float64
delinq_2yrs                                   2132227 non-null float64
earliest_cr_line                              2132227 non-null object
fico_range_low                                2132256 non-null float64
fico_range_high                               2132256 non-null float64
inq_last_6mths                                2132226 non-null float64
mths_since_last_delinq                        1045950 non-null float64
mths_since_last_record                        343706 non-null float64
open_acc                                      2132227 non-null float64
pub_rec                                       2132227 non-null float64
revol_bal                                     2132256 non-null float64
revol_util                                    2130610 non-null float64
total_acc                                     2132227 non-null float64
initial_list_status                           2132256 non-null object
out_prncp                                     2132256 non-null float64
out_prncp_inv                                 2132256 non-null float64
total_pymnt                                   2132256 non-null float64
total_pymnt_inv                               2132256 non-null float64
total_rec_prncp                               2132256 non-null float64
total_rec_int                                 2132256 non-null float64
total_rec_late_fee                            2132256 non-null float64
recoveries                                    2132256 non-null float64
collection_recovery_fee                       2132256 non-null float64
last_pymnt_d                                  2129992 non-null object
last_pymnt_amnt                               2132256 non-null float64
next_pymnt_d                                  865638 non-null object
last_credit_pull_d                            2132182 non-null object
last_fico_range_high                          2132256 non-null float64
last_fico_range_low                           2132256 non-null float64
collections_12_mths_ex_med                    2132111 non-null float64
mths_since_last_major_derog                   551595 non-null float64
policy_code                                   2132256 non-null float64
application_type                              2132256 non-null object
annual_inc_joint                              103928 non-null float64
dti_joint                                     103924 non-null float64
verification_status_joint                     100882 non-null object
acc_now_delinq                                2132227 non-null float64
tot_coll_amt                                  2061980 non-null float64
tot_cur_bal                                   2061980 non-null float64
open_acc_6m                                   1266126 non-null float64
open_act_il                                   1266127 non-null float64
open_il_12m                                   1266127 non-null float64
open_il_24m                                   1266127 non-null float64
mths_since_rcnt_il                            1226810 non-null float64
total_bal_il                                  1266127 non-null float64
il_util                                       1083680 non-null float64
open_rv_12m                                   1266127 non-null float64
open_rv_24m                                   1266127 non-null float64
max_bal_bc                                    1266127 non-null float64
all_util                                      1265945 non-null float64
total_rev_hi_lim                              2061980 non-null float64
inq_fi                                        1266127 non-null float64
total_cu_tl                                   1266126 non-null float64
inq_last_12m                                  1266126 non-null float64
acc_open_past_24mths                          2082226 non-null float64
avg_cur_bal                                   2061923 non-null float64
bc_open_to_buy                                2059012 non-null float64
bc_util                                       2057939 non-null float64
chargeoff_within_12_mths                      2132111 non-null float64
delinq_amnt                                   2132227 non-null float64
mo_sin_old_il_acct                            1997663 non-null float64
mo_sin_old_rev_tl_op                          2061979 non-null float64
mo_sin_rcnt_rev_tl_op                         2061979 non-null float64
mo_sin_rcnt_tl                                2061980 non-null float64
mort_acc                                      2082226 non-null float64
mths_since_recent_bc                          2060435 non-null float64
mths_since_recent_bc_dlq                      494532 non-null float64
mths_since_recent_inq                         1852868 non-null float64
mths_since_recent_revol_delinq                703577 non-null float64
num_accts_ever_120_pd                         2061980 non-null float64
num_actv_bc_tl                                2061980 non-null float64
num_actv_rev_tl                               2061980 non-null float64
num_bc_sats                                   2073666 non-null float64
num_bc_tl                                     2061980 non-null float64
num_il_tl                                     2061980 non-null float64
num_op_rev_tl                                 2061980 non-null float64
num_rev_accts                                 2061979 non-null float64
num_rev_tl_bal_gt_0                           2061980 non-null float64
num_sats                                      2073666 non-null float64
num_tl_120dpd_2m                              1981458 non-null float64
num_tl_30dpd                                  2061980 non-null float64
num_tl_90g_dpd_24m                            2061980 non-null float64
num_tl_op_past_12m                            2061980 non-null float64
pct_tl_nvr_dlq                                2061825 non-null float64
percent_bc_gt_75                              2058569 non-null float64
pub_rec_bankruptcies                          2130891 non-null float64
tax_liens                                     2132151 non-null float64
tot_hi_cred_lim                               2061980 non-null float64
total_bal_ex_mort                             2082226 non-null float64
total_bc_limit                                2082226 non-null float64
total_il_high_credit_limit                    2061980 non-null float64
revol_bal_joint                               91238 non-null float64
sec_app_fico_range_low                        91239 non-null float64
sec_app_fico_range_high                       91239 non-null float64
sec_app_earliest_cr_line                      91239 non-null object
sec_app_inq_last_6mths                        91239 non-null float64
sec_app_mort_acc                              91239 non-null float64
sec_app_open_acc                              91239 non-null float64
sec_app_revol_util                            89660 non-null float64
sec_app_open_act_il                           91239 non-null float64
sec_app_num_rev_accts                         91239 non-null float64
sec_app_chargeoff_within_12_mths              91239 non-null float64
sec_app_collections_12_mths_ex_med            91239 non-null float64
sec_app_mths_since_last_major_derog           30788 non-null float64
hardship_flag                                 2132256 non-null object
hardship_type                                 10316 non-null object
hardship_reason                               10316 non-null object
hardship_status                               10316 non-null object
deferral_term                                 10316 non-null float64
hardship_amount                               10316 non-null float64
hardship_start_date                           10316 non-null object
hardship_end_date                             10316 non-null object
payment_plan_start_date                       10316 non-null object
hardship_length                               10316 non-null float64
hardship_dpd                                  10316 non-null float64
hardship_loan_status                          10316 non-null object
orig_projected_additional_accrued_interest    8221 non-null float64
hardship_payoff_balance_amount                10316 non-null float64
hardship_last_payment_amount                  10316 non-null float64
disbursement_method                           2132256 non-null object
debt_settlement_flag                          2132256 non-null object
debt_settlement_flag_date                     31493 non-null object
settlement_status                             31493 non-null object
settlement_date                               31493 non-null object
settlement_amount                             31493 non-null float64
settlement_percentage                         31493 non-null float64
settlement_term                               31493 non-null float64
dtypes: float64(113), object(38)
memory usage: 2.4+ GB
None

In [6]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [7]:
accept_df.sort_index(axis=1, inplace=True)

In [8]:
accept_df['issue_d'] = pd.to_datetime(accept_df.issue_d)

In [9]:
#term = 36 months
#application_type = Individual

lc= accept_df[['acc_now_delinq','annual_inc','application_type','bc_util','delinq_2yrs','dti','emp_length','emp_title','fico_range_low','funded_amnt','funded_amnt_inv','grade','home_ownership','id','il_util','installment','int_rate','issue_d','last_fico_range_low','last_pymnt_d','loan_amnt','loan_status','next_pymnt_d','open_acc','percent_bc_gt_75','policy_code','pub_rec','purpose','sub_grade','term','title','tot_coll_amt','verification_status']]

In [10]:
null_df = pd.DataFrame(lc.isnull().sum(), columns=['Count of Nulls'])
null_df.index.name = 'Column'
null_df.sort_values(['Count of Nulls'], ascending=False)

                     Count of Nulls
Column
next_pymnt_d                1266649
il_util                     1048607
emp_title                    146053
emp_length                   135234
bc_util                       74348
percent_bc_gt_75              73718
tot_coll_amt                  70307
title                         23356
last_pymnt_d                   2295
dti                            1505
pub_rec                          60
open_acc                         60
acc_now_delinq                   60
delinq_2yrs                      60
annual_inc                       35
policy_code                      31
purpose                          31
loan_status                      31
term                             31
sub_grade                        31
int_rate                         31
loan_amnt                        31
last_fico_range_low              31
issue_d                          31
installment                      31
home_ownership                   31
grade                            31
funded_amnt_inv                  31
funded_amnt                      31
fico_range_low                   31
application_type                 31
verification_status              31
id                                0

In [11]:
lc.set_index('issue_d', inplace=True)

In [12]:
lc = lc[(lc['application_type'] == 'Individual') & (lc['term'] == ' 36 months')]

In [13]:
lc['year'] = lc.index.year
lc['month'] = lc.index.month

In [14]:
lc.set_index('id', inplace=True)

In [15]:
lc.sort_values(['year', 'month'], ascending=[False, False]).tail()

Column,acc_now_delinq,annual_inc,application_type,bc_util,delinq_2yrs,dti,emp_length,emp_title,fico_range_low,funded_amnt,funded_amnt_inv,grade,home_ownership,il_util,installment,int_rate,last_fico_range_low,last_pymnt_d,loan_amnt,loan_status,next_pymnt_d,open_acc,percent_bc_gt_75,policy_code,pub_rec,purpose,sub_grade,term,title,tot_coll_amt,verification_status,year,month
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
73582,NaN,180000.0,Individual,NaN,NaN,10.00,< 1 year,NaN,685.0,3500.0,225.0,C,RENT,NaN,113.39,10.28,815.0,Mar-2008,3500.0,Does not meet the credit policy. Status:Fully ...,Mar-2008,NaN,NaN,1.0,NaN,other,C1,36 months,Wedding coming up,NaN,Not Verified,2007,6
72998,NaN,12000.0,Individual,NaN,NaN,10.00,< 1 year,Halping hands company inc.,695.0,1000.0,0.0,B,RENT,NaN,32.11,9.64,780.0,Jun-2010,1000.0,Does not meet the credit policy. Status:Fully ...,Jul-2010,NaN,NaN,1.0,NaN,other,B4,36 months,delight,NaN,Not Verified,2007,6
72176,NaN,110000.0,Individual,NaN,NaN,10.00,< 1 year,NaN,710.0,2525.0,225.0,B,RENT,NaN,80.69,9.33,710.0,Jun-2010,2525.0,Does not meet the credit policy. Status:Fully ...,Jul-2010,NaN,NaN,1.0,NaN,other,B3,36 months,Car repair bill,NaN,Not Verified,2007,6
71623,NaN,NaN,Individual,NaN,NaN,4.00,< 1 year,NaN,740.0,6500.0,0.0,A,NONE,NaN,204.84,8.38,720.0,Jun-2010,6500.0,Does not meet the credit policy. Status:Fully ...,Jul-2010,NaN,NaN,1.0,NaN,other,A5,36 months,Buying a car,NaN,Not Verified,2007,6
70686,NaN,70000.0,Individual,NaN,NaN,8.81,10+ years,Homemaker,770.0,5000.0,0.0,A,MORTGAGE,NaN,156.11,7.75,790.0,Jun-2010,5000.0,Does not meet the credit policy. Status:Fully ...,Jul-2010,NaN,NaN,1.0,NaN,other,A3,36 months,Aroundthehouse,NaN,Not Verified,2007,6

In [16]:
lc = lc[(lc['year'] <= 2015) & (lc['month'] <= 8) & (lc['month'] <= 8)]

In [17]:
def experience(row):
    if row.emp_length == '< 1 year' or row.emp_length == '1 year':
        return ('1 year or less')
    elif row.emp_length == '2 years' or row.emp_length == '3 years' or row.emp_length == '4 years' or row.emp_length == '5 years':
        return ('2 to 5 years')
    elif row.emp_length == '1 year' or row.emp_length == '2 years' or row.emp_length == '3 years' or row.emp_length == '4 years' or row.emp_length == '5 years':
        return ('6 to 9 years')
    else:
        return ('10+ years')

lc['emp_length'] = lc.apply(lambda row: experience(row),axis = 1)

In [18]:
def delinquent(row):
    if row.acc_now_delinq >= 1:
        return (1)
    else:
        return (0)
lc['acc_now_delinq'] = lc.apply(lambda row: delinquent(row),axis = 1)

In [19]:
lc.head()

Column,acc_now_delinq,annual_inc,application_type,bc_util,delinq_2yrs,dti,emp_length,emp_title,fico_range_low,funded_amnt,funded_amnt_inv,grade,home_ownership,il_util,installment,int_rate,last_fico_range_low,last_pymnt_d,loan_amnt,loan_status,next_pymnt_d,open_acc,percent_bc_gt_75,policy_code,pub_rec,purpose,sub_grade,term,title,tot_coll_amt,verification_status,year,month
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
867869,0,92000.0,Individual,NaN,0.0,6.39,2 to 5 years,nj transit,740.0,1400.0,1400.0,A,MORTGAGE,NaN,42.59,5.99,750.0,Sep-2014,1400.0,Fully Paid,NaN,9.0,NaN,1.0,0.0,other,A2,36 months,personal loan,NaN,Not Verified,2011,8
867780,0,60000.0,Individual,NaN,1.0,14.98,2 to 5 years,Bender Helper Impact,735.0,4500.0,4500.0,A,RENT,NaN,142.04,8.49,640.0,Dec-2013,4500.0,Charged Off,NaN,4.0,NaN,1.0,0.0,major_purchase,A5,36 months,Apartment,NaN,Not Verified,2011,8
866894,0,115000.0,Individual,NaN,0.0,10.45,2 to 5 years,City of Steubenville,735.0,1000.0,1000.0,A,MORTGAGE,NaN,30.42,5.99,705.0,Sep-2014,1000.0,Fully Paid,NaN,6.0,NaN,1.0,0.0,home_improvement,A2,36 months,Home,NaN,Source Verified,2011,8
867370,0,60000.0,Individual,NaN,0.0,19.10,10+ years,UNITED STATES AIR FORCE DEPT OF DEFENSE,660.0,2500.0,2500.0,D,MORTGAGE,NaN,87.89,15.99,630.0,Aug-2012,2500.0,Fully Paid,NaN,7.0,NaN,1.0,0.0,debt_consolidation,D2,36 months,cc consolidation,NaN,Source Verified,2011,8
866970,0,35000.0,Individual,NaN,0.0,21.60,10+ years,"Jonti-Craft,Inc.",665.0,4200.0,4075.0,C,OWN,NaN,141.50,12.99,530.0,Apr-2013,4200.0,Fully Paid,NaN,11.0,NaN,1.0,1.0,medical,C1,36 months,Doctor's bills,NaN,Not Verified,2011,8

In [20]:
lc.drop(columns = ['emp_title','il_util','next_pymnt_d','open_acc','policy_code','term','bc_util','percent_bc_gt_75','tot_coll_amt'],inplace=True)

In [21]:
lc.head()

Column,acc_now_delinq,annual_inc,application_type,delinq_2yrs,dti,emp_length,fico_range_low,funded_amnt,funded_amnt_inv,grade,home_ownership,installment,int_rate,last_fico_range_low,last_pymnt_d,loan_amnt,loan_status,pub_rec,purpose,sub_grade,title,verification_status,year,month
id,,,,,,,,,,,,,,,,,,,,,,,,
867869,0,92000.0,Individual,0.0,6.39,2 to 5 years,740.0,1400.0,1400.0,A,MORTGAGE,42.59,5.99,750.0,Sep-2014,1400.0,Fully Paid,0.0,other,A2,personal loan,Not Verified,2011,8
867780,0,60000.0,Individual,1.0,14.98,2 to 5 years,735.0,4500.0,4500.0,A,RENT,142.04,8.49,640.0,Dec-2013,4500.0,Charged Off,0.0,major_purchase,A5,Apartment,Not Verified,2011,8
866894,0,115000.0,Individual,0.0,10.45,2 to 5 years,735.0,1000.0,1000.0,A,MORTGAGE,30.42,5.99,705.0,Sep-2014,1000.0,Fully Paid,0.0,home_improvement,A2,Home,Source Verified,2011,8
867370,0,60000.0,Individual,0.0,19.10,10+ years,660.0,2500.0,2500.0,D,MORTGAGE,87.89,15.99,630.0,Aug-2012,2500.0,Fully Paid,0.0,debt_consolidation,D2,cc consolidation,Source Verified,2011,8
866970,0,35000.0,Individual,0.0,21.60,10+ years,665.0,4200.0,4075.0,C,OWN,141.50,12.99,530.0,Apr-2013,4200.0,Fully Paid,1.0,medical,C1,Doctor's bills,Not Verified,2011,8

In [22]:
def loan(row):
    if row.loan_status == 'Fully Paid' or row.loan_status == 'Current' or row.loan_status == 'Does not meet the credit policy. Status:Fully Paid':
        return (1)
    else:
        return (0)
lc['loan_status'] = lc.apply(lambda row: loan(row),axis = 1)

#1 means it was paid
#0 means it was charged off

In [23]:
null_df = pd.DataFrame(lc.isnull().sum(), columns=['Count of Nulls'])
null_df.index.name = 'Column'
null_df.sort_values(['Count of Nulls'], ascending=False).head(10)

                     Count of Nulls
Column
last_pymnt_d                    288
delinq_2yrs                      29
pub_rec                          29
title                            11
annual_inc                        4
acc_now_delinq                    0
last_fico_range_low               0
year                              0
verification_status               0
sub_grade                         0

In [24]:
lc.dropna(inplace=True)

In [79]:
#lc_delinq = lc[(lc['acc_now_delinq'] == 1)]
#lc_not_delinq = lc[(lc['acc_now_delinq'] == 0)]

count         382096
unique             1
top       Individual
freq          382096
Name: application_type, dtype: object